@using SilkLaser.Web.Classes.Ext
@using SilkLaser.Web.Classes.Utils
@model System.Collections.Generic.List<SilkLaser.Web.Classes.Entities.FaqQuestion>

@{
    ViewBag.Title = "Вопросы в FAQ";
    Layout = "AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="jarviswidget" id="wid-questions-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-collapsed="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-table"></i></span>
                        <h2>@ViewBag.Title</h2>
                    </header>
                    <div>
                        <!-- widget content -->
                        <div class="widget-body">
                            <p>
                                <a class="btn btn-success" href="/manage/faq/new">
                                    <i class="fa fa-plus"></i> <span class="hidden-mobile">Добавить новый вопрос</span>
                                </a>
                            </p>
                            <table class="table table-bordered table-hover" id="events-table">
                                <thead>
                                    <tr>
                                        <th>Ид</th>
                                        <th>Вопрос</th>
                                        <th>Позиция</th>
                                        <th>Добавлен</th>
                                        <th>Отредактирован</th>
                                        <th style="width: 45px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Count == 0)
                                    {
                                    <tr>
                                        <td colspan="6">Не найдено вопросов в системе</td>
                                    </tr>}
                                    else
                                    {
                                        foreach (var question in Model)
                                        {
                                        <tr data-id="@question.Id" class="question">
                                            <td>
                                                @question.Id
                                            </td>
                                            <td>
                                                <a href="/manage/faq/@question.Id/edit" class="tip" title="Редактировать основную информацию вопроса @question.Question">@question.Question</a>
                                            </td>
                                            <td>
                                                @question.Position
                                            </td>
                                            <td>
                                                <span class="tip" title="Создал: @question.CreatedBy">@ViewContext.CurrentUser().ConvertDateToTimeZone(question.DateCreated).FormatDateTime()</span>
                                            </td>
                                            <td>
                                                <span class="tip" title="Редактировал: @question.ModifiedBy">@ViewContext.CurrentUser().ConvertDateToTimeZone(question.DateModified).FormatDateTime()</span>
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                        <i class="fa fa-gear fa-lg"></i>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <a href="/manage/faq/@question.Id/edit">Редактировать</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="/manage/faq/@question.Id/delete" onclick="return confirm('Вы действительно хотите удалить этот вопрос?')">Удалить</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>}
                                    }
                                </tbody>
                            </table>
                            @if (Model.Count > 0)
                            {
                            <p class="margin-top-10">
                                Перетаскивайте ряды курсором мыши, чтобы изменить порядок вывода вопросов.
                            </p>}
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </div>
        </div>
    </div>
</div>

@section PageScripts {

    <script type="text/javascript">
        $(document).ready(function() {
            $(".question").eq(0).parent().sortable({
                update: function (event, ui) {
                    var item = ui.item;
                    var id = item.data("id");
                    var index = item.index();
                    $.post("/manage/faq/faq-position-change", { faq: id, position: index }, function (data) {
                        if (data.success === false) {
                            window.alert(data.message);
                        }
                    }, "json");
                }
            });
        });
    </script>

}