@using SilkLaser.Web.Classes.Enums
@using SilkLaser.Web.Classes.Ext
@using SilkLaser.Web.Classes.Utils
@model dynamic

@{
    ViewBag.Title = "Цены";
    ViewBag.HTMLTitle = "Лазерная эпиляция по доступным ценам в Хабаровске";
    ViewBag.MetaDescription = "Цены на лазерное удаление (эпиляцию) волос в Хабаровске. Наслаждайтесь не только гладкой, как шёлк, кожей, но и низкими ценами со значительными скидками на курс лазерной эпиляции на последней модели лучшего в мире лазера - Candela";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-body" class="page-body">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-title anim fadeInUp" data-wow-duration="0.5s">
                        Цены
                    </h2>
                </div>
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p class="home-p">Голова</p>
                </div>
                <div class="col-md-8 col-md-offset-2 ">
                    <div class="table-wrap">
                        <table class="table-prise anim fadeIn" data-wow-duration="0.5s">
                            <thead>
                                <tr>
                                    <th>Услуги</th>
                                    <th>Цена</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var price in ViewContext.DataContext().Prices.Where(p => p.Group == (short)BodyGroup.Head))
                            {<tr>
                                <td class="col5">
                                    <p class="table-compare__title">
                                        <b>
                                            <a href="/prices/@price.Id/@StringUtils.TitleToSeoRoute(price.Title)">@price.Title</a>
                                        </b> @price.SubTitle
                                        @if (price.BasePriceOffer != null)
                                        {<span class="action">Акция</span> }
                                    </p>
                                </td>
                                 <td class="col6">
                                     @if (price.BasePriceOffer != null)
                                     {
                                         <div class="new-price">
                                             <b>@price.BasePriceOffer.Value.ToString("N0")</b> руб.
                                         </div>
                                         <div class="old">
                                             <b>@price.BasePrice.ToString("N0")</b> руб.
                                         </div>
                                     }
                                     else
                                     {
                                         <b>@price.BasePrice.ToString("N0")</b> @:руб.
                                     }
                                 </td>
                            </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p class="home-p">Тело</p>
                </div>
                <div class="col-md-8 col-md-offset-2 ">
                    <div class="table-wrap">
                        <table class="table-prise anim fadeIn" data-wow-duration="0.5s">
                            <thead>
                                <tr>
                                    <th>Услуги</th>
                                    <th>Цена</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var price in ViewContext.DataContext().Prices.Where(p => p.Group == (short)BodyGroup.Body))
                            {<tr>
                                <td class="col5">
                                    <p class="table-compare__title">
                                        <b>
                                            <a href="/prices/@price.Id/@StringUtils.TitleToSeoRoute(price.Title)">@price.Title</a>
                                        </b> @price.SubTitle
                                        @if (price.BasePriceOffer != null)
                                        {<span class="action">Акция</span> }
                                    </p>
                                </td>
                                 <td class="col6">
                                     @if (price.BasePriceOffer != null)
                                     {
                                         <div class="new-price">
                                             <b>@price.BasePriceOffer.Value.ToString("N0")</b> руб.
                                         </div>
                                         <div class="old">
                                             <b>@price.BasePrice.ToString("N0")</b> руб.
                                         </div>
                                     }
                                     else
                                     {
                                         <b>@price.BasePrice.ToString("N0")</b> @:руб.
                                     }
                                 </td>
                            </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p class="home-p">Бикини</p>
                </div>
                <div class="col-md-8 col-md-offset-2 ">
                    <div class="table-wrap">
                        <table class="table-prise anim fadeIn" data-wow-duration="0.5s">
                            <thead>
                                <tr>
                                    <th>Услуги</th>
                                    <th>Цена</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var price in ViewContext.DataContext().Prices.Where(p => p.Group == (short)BodyGroup.Bikini))
                            {<tr>
                                <td class="col5">
                                    <p class="table-compare__title">
                                        <b>
                                            <a href="/prices/@price.Id/@StringUtils.TitleToSeoRoute(price.Title)">@price.Title</a>
                                        </b> @price.SubTitle
                                        @if (price.BasePriceOffer != null)
                                        {<span class="action">Акция</span> }
                                    </p>
                                </td>
                                 <td class="col6">
                                     @if (price.BasePriceOffer != null)
                                     {
                                         <div class="new-price">
                                             <b>@price.BasePriceOffer.Value.ToString("N0")</b> руб.
                                         </div>
                                         <div class="old">
                                             <b>@price.BasePrice.ToString("N0")</b> руб.
                                         </div>
                                     }
                                     else
                                     {
                                         <b>@price.BasePrice.ToString("N0")</b> @:руб.
                                     }
                                 </td>
                            </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@*
    <div class="container-fluid">
        <div class="box-price-page" style="overflow: unset;">
            <h1>Цены</h1>
            <div class="js-tabs">
                <div class="box-price-page__left">
                    <ul class="list-prices">
                        <li class="list-prices__item js-tabs-item active">
                            <a href="#tab-1" class="list-prices__link js-tabs-link">Лицо</a>
                            <div class="all-links-prices">
                                <ul class="list-drop-links">
                                    <li class="list-drop-links__item area-1">
                                        <a href="/prices/1/@StringUtils.TitleToSeoRoute("лицо полностью")" class="list-drop-links__link js-link-area1" data-img="/Content/html/img/area/img_price_face_1.jpg" data-default="/Content/html/img/area/img_price_face.jpg">Лицо полностью</a>
                                    </li>
                                    <li class="list-drop-links__item area-2">
                                        <a href="/prices/2/@StringUtils.TitleToSeoRoute("лоб")" class="list-drop-links__link js-link-area1" data-img="/Content/html/img/area/img_price_face_2.jpg" data-default="/Content/html/img/area/img_price_face.jpg">Лоб</a>
                                    </li>
                                    <li class="list-drop-links__item area-3">
                                        <a href="/prices/3/@StringUtils.TitleToSeoRoute("брови")" class="list-drop-links__link js-link-area1" data-img="/Content/html/img/area/img_price_face_3.jpg" data-default="/Content/html/img/area/img_price_face.jpg">Брови</a>
                                    </li>
                                    <li class="list-drop-links__item area-4">
                                        <a  href="/prices/4/@StringUtils.TitleToSeoRoute("межбровье")" class="list-drop-links__link js-link-area1" data-img="/Content/html/img/area/img_price_face_4.jpg" data-default="/Content/html/img/area/img_price_face.jpg">Межбровье</a>
                                    </li>
                                    <li class="list-drop-links__item area-5">
                                        <a href="/prices/5/@StringUtils.TitleToSeoRoute("крылья носа")" class="list-drop-links__link js-link-area1" data-img="/Content/html/img/area/img_price_face_5.jpg" data-default="/Content/html/img/area/img_price_face.jpg">Крылья носа</a>
                                    </li>
                                    <li class="list-drop-links__item area-6">
                                        <a href="/prices/6/@StringUtils.TitleToSeoRoute("усы")" class="list-drop-links__link js-link-area1" data-img="/Content/html/img/area/img_price_face_6.jpg" data-default="/Content/html/img/area/img_price_face.jpg">Усы</a>
                                    </li>
                                    <li class="list-drop-links__item area-7">
                                        <a href="/prices/7/@StringUtils.TitleToSeoRoute("щеки")" class="list-drop-links__link js-link-area1" data-img="/Content/html/img/area/img_price_face_7.jpg" data-default="/Content/html/img/area/img_price_face.jpg">Щеки</a>
                                    </li>
                                    <li class="list-drop-links__item area-8">
                                        <a href="/prices/8/@StringUtils.TitleToSeoRoute("виски")" class="list-drop-links__link js-link-area1" data-img="/Content/html/img/area/img_price_face_8.jpg" data-default="/Content/html/img/area/img_price_face.jpg">Виски</a>
                                    </li>
                                    <li class="list-drop-links__item area-9">
                                        <a href="/prices/9/@StringUtils.TitleToSeoRoute("углы челюсти")" class="list-drop-links__link js-link-area1" data-img="/Content/html/img/area/img_price_face_9.jpg" data-default="/Content/html/img/area/img_price_face.jpg">Углы челюсти</a>
                                    </li>
                                    <li class="list-drop-links__item area-10">
                                        <a href="/prices/10/@StringUtils.TitleToSeoRoute("подбородок")" class="list-drop-links__link js-link-area1" data-img="/Content/html/img/area/img_price_face_10.jpg" data-default="/Content/html/img/area/img_price_face.jpg">Подбородок</a>
                                    </li>
                                    <li class="list-drop-links__item area-11">
                                        <a  href="/prices/11/@StringUtils.TitleToSeoRoute("ушные раковины")" class="list-drop-links__link js-link-area1" data-img="/Content/html/img/area/img_price_face_11.jpg" data-default="/Content/html/img/area/img_price_face.jpg">Ушные раковины</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-prices__item js-tabs-item">
                            <a href="#tab-2" class="list-prices__link js-tabs-link">Тело</a>
                            <div class="all-links-prices">
                                <ul class="list-drop-links body-front">
                                    <li class="list-drop-links__item area-body-1">
                                        <a href="/prices/13/@StringUtils.TitleToSeoRoute("шея")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_1.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Шея</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-2">
                                        <a href="/prices/14/@StringUtils.TitleToSeoRoute("плечи")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_2.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Плечи</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-3">
                                        <a href="/prices/15/@StringUtils.TitleToSeoRoute("кисти рук и пальцев")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_3.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Кисти рук и пальцы</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-4">
                                        <a href="/prices/16/@StringUtils.TitleToSeoRoute("предплечья")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_4.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Предплечья</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-5">
                                        <a href="/prices/17/@StringUtils.TitleToSeoRoute("руки от локтей до плеч")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_5.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Руки от локтей до плеч</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-6">
                                        <a href="/prices/18/@StringUtils.TitleToSeoRoute("руки полностью")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_6.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Руки полностью</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-7">
                                        <a href="/prices/19/@StringUtils.TitleToSeoRoute("подмышечные впадины")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_7.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Подмышечные впадины</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-8">
                                        <a href="/prices/20/@StringUtils.TitleToSeoRoute("воротниковая зона")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_8.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Воротниковая зона</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-9">
                                        <a href="/prices/21/@StringUtils.TitleToSeoRoute("зона декольте")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_9.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Зона декольте</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-10">
                                        <a href="/prices/22/@StringUtils.TitleToSeoRoute("грудь")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_10.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Грудь</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-11">
                                        <a href="/prices/23/@StringUtils.TitleToSeoRoute("зона вокруг ареол")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_11.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Зона вокруг ареол</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-12">
                                        <a href="/prices/24/@StringUtils.TitleToSeoRoute("живот")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_12.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Живот</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-13">
                                        <a href="/prices/25/@StringUtils.TitleToSeoRoute("бока")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_13.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Бока</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-14">
                                        <a href="/prices/26/@StringUtils.TitleToSeoRoute("линия от лобка до пупка")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_14.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Линия от лобка до пупка</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-15">
                                        <a href="/prices/27/@StringUtils.TitleToSeoRoute("линия от пупка до груди")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_15.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Линия от пупка до груди</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-16">
                                        <a href="/prices/28/@StringUtils.TitleToSeoRoute("ноги полностью")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_16.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Ноги полностью</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-17">
                                        <a href="/prices/29/@StringUtils.TitleToSeoRoute("бедра")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_17.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Бедра</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-18">
                                        <a href="/prices/30/@StringUtils.TitleToSeoRoute("колени")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_18.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Колени</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-19">
                                        <a href="/prices/31/@StringUtils.TitleToSeoRoute("голени")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_19.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Голени</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-20">
                                        <a href="/prices/32/@StringUtils.TitleToSeoRoute("подъемы стоп и пальцев ног")" class="list-drop-links__link js-link-area2" data-img="/Content/html/img/area/img_price_body_20.jpg" data-default="/Content/html/img/area/img_price_body.jpg">Подьем стопы и пальцы ног</a>
                                    </li>
                                </ul>
                                <ul class="list-drop-links body-back">
                                    <li class="list-drop-links__item area-body-back-1">
                                        <a href="/prices/13/@StringUtils.TitleToSeoRoute("шея")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_1.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Шея</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-back-2">
                                        <a href="/prices/14/@StringUtils.TitleToSeoRoute("плечи")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_2.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Плечи</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-back-3">
                                        <a href="/prices/15/@StringUtils.TitleToSeoRoute("кисти рук и пальцев")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_3.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Кисти рук и пальцы</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-back-4">
                                        <a href="/prices/16/@StringUtils.TitleToSeoRoute("предплечья")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_4.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Предплечья</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-back-5">
                                        <a href="/prices/17/@StringUtils.TitleToSeoRoute("руки от локтей до плеч")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_5.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Руки от локтей до плеч</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-back-6">
                                        <a href="/prices/18/@StringUtils.TitleToSeoRoute("руки полностью")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_6.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Руки полностью</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-back-7">
                                        <a href="/prices/33/@StringUtils.TitleToSeoRoute("спина")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_7.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Спина</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-back-8">
                                        <a href="/prices/34/@StringUtils.TitleToSeoRoute("поясница")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_8.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Поясница</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-back-9">
                                        <a href="/prices/35/@StringUtils.TitleToSeoRoute("ягодицы")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_9.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Ягодицы</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-back-10">
                                        <a href="/prices/28/@StringUtils.TitleToSeoRoute("ноги полностью")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_10.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Ноги полностью</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-back-11">
                                        <a href="/prices/29/@StringUtils.TitleToSeoRoute("бедра")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_11.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Бедра</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-back-12">
                                        <a href="/prices/30/@StringUtils.TitleToSeoRoute("колени")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_12.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Колени</a>
                                    </li>
                                    <li class="list-drop-links__item area-body-back-13">
                                        <a href="/prices/31/@StringUtils.TitleToSeoRoute("голени")" class="list-drop-links__link js-link-area3" data-img="/Content/html/img/area/img_price_body_back_13.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg">Голени</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-prices__item js-tabs-item">
                            <a href="#tab-3" class="list-prices__link js-tabs-link">Бикини</a>
                            <div class="all-links-prices">
                                <ul class="list-drop-links bikini-front">
                                    <li class="list-drop-links__item area-bikini-1">
                                        <a href="/prices/39/@StringUtils.TitleToSeoRoute("классическое бикини")" class="list-drop-links__link js-link-area4" data-img="/Content/html/img/area/img_price_bikini_1.jpg" data-default="/Content/html/img/area/img_price_bikini.jpg">Классическое</a>
                                    </li>
                                    <li class="list-drop-links__item area-bikini-2">
                                        <a href="/prices/40/@StringUtils.TitleToSeoRoute("среднее бикини")" class="list-drop-links__link js-link-area4" data-img="/Content/html/img/area/img_price_bikini_2.jpg" data-default="/Content/html/img/area/img_price_bikini.jpg">Среднее</a>
                                    </li>
                                    <li class="list-drop-links__item area-bikini-3">
                                        <a href="/prices/41/@StringUtils.TitleToSeoRoute("тотальное бикини")" class="list-drop-links__link js-link-area4" data-img="/Content/html/img/area/img_price_bikini_3.jpg" data-default="/Content/html/img/area/img_price_bikini.jpg">Тотальное</a>
                                    </li>
                                </ul>
                                <ul class="list-drop-links bikini-back">
                                    <li class="list-drop-links__item area-bikini-back-1">
                                        <a href="/prices/41/@StringUtils.TitleToSeoRoute("тотальное бикини")" class="list-drop-links__link js-link-area5" data-img="/Content/html/img/area/img_price_bikini_back_1.jpg" data-default="/Content/html/img/area/img_price_bikini_back.jpg">Тотальное</a>
                                    </li>
                                    <li class="list-drop-links__item area-bikini-back-2">
                                        <a href="/prices/42/@StringUtils.TitleToSeoRoute("межъягодичная зона")" class="list-drop-links__link js-link-area5" data-img="/Content/html/img/area/img_price_bikini_back_1.jpg" data-default="/Content/html/img/area/img_price_bikini_back.jpg">Межягодичная зона</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-price-page__right">
                    <div class="price-cont js-tab-cont" id="tab-1">
                        <div class="box-dummy box-dummy_item1">
                            <div class="block-images-area">
                                <img src="/Content/html/img/area/img_price_face_1.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_face_2.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_face_3.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_face_4.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_face_5.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_face_6.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_face_7.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_face_8.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_face_9.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_face_10.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_face_11.jpg" alt="">
                            </div>
                            <div class="box-dummy__main-img">
                                <img src="/Content/html/img/area/img_price_face.jpg" alt="" border="0" usemap="#Map">

                                <map name="Map">

                                    <area shape="poly" coords="500,267,580,271,616,284,633,296,649,318,664,317,645,284,617,260,582,236,552,221,532,214,514,213,495,211,475,211,456,214,435,215,415,217,399,224,383,235,368,248,355,261,347,280,340,298,393,278,446,272" data-img="/Content/html/img/area/img_price_face_2.jpg" data-default="/Content/html/img/area/img_price_face.jpg" data-href=".area-2" href="#">
                                    <area shape="poly" coords="519,343,516,354,520,367,556,350,594,344,616,345,629,349,640,357,651,367,654,356,651,340,643,328,619,320,598,316,579,323,562,327,537,337,478,342,446,326,410,316,379,315,364,327,356,344,372,342,384,336,414,343,450,352,470,354,478,344,475,340,480,341" data-img="/Content/html/img/area/img_price_face_3.jpg" data-default="/Content/html/img/area/img_price_face.jpg" data-href=".area-3" href="#">
                                    <area shape="poly" coords="499,375,519,368,516,354,518,345,518,338,480,339,472,355,480,365" data-img="/Content/html/img/area/img_price_face_4.jpg" data-default="/Content/html/img/area/img_price_face.jpg" data-href=".area-4" href="#">
                                    <area shape="poly" coords="504,490,511,477,515,472,523,468,532,473,532,482,504,491,491,483,479,473,473,472,469,480,470,485,483,490" data-img="/Content/html/img/area/img_price_face_5.jpg" data-default="/Content/html/img/area/img_price_face.jpg" data-href=".area-5" href="#">
                                    <area shape="poly" coords="503,523,521,514,539,523,578,541,568,521,559,506,543,497,523,494,504,492,483,492,467,499,451,507,443,516,425,536,444,532,465,523,484,516" data-img="/Content/html/img/area/img_price_face_6.jpg" data-default="/Content/html/img/area/img_price_face.jpg" data-href=".area-6" href="#">
                                    <area shape="poly" coords="578,543,588,543,606,536,620,531,629,503,641,480,646,470,653,464,649,461,636,467,625,469,608,472,592,470,579,466,568,462,551,462,541,474,534,489,532,496,551,502,564,516,579,543,424,539,449,508,456,495,453,474,438,460,411,456,378,457,349,449,358,480,374,501,393,524,411,538" data-img="/Content/html/img/area/img_price_face_7.jpg" data-default="/Content/html/img/area/img_price_face.jpg" data-href=".area-7" href="#">
                                    <area shape="poly" coords="667,432,674,414,677,394,676,376,673,357,671,336,666,318,651,318,653,328,656,345,656,365,656,383,656,397,660,412,659,423,667,432,336,431,344,410,348,393,349,376,350,358,351,339,353,323,357,309,347,303,337,312,336,320,329,337,327,355,326,371,327,390,332,410,328,417,336,432" data-img="/Content/html/img/area/img_price_face_8.jpg" data-default="/Content/html/img/area/img_price_face.jpg" data-href=".area-8" href="#">
                                    <area shape="poly" coords="662,450,656,471,653,489,646,508,636,526,627,542,615,558,620,531,629,505,640,484,647,470,662,450,341,447,342,466,348,486,355,503,361,521,374,538,383,555,388,531,382,519,375,508,366,492,358,478,346,448,342,448" data-img="/Content/html/img/area/img_price_face_9.jpg" data-default="/Content/html/img/area/img_price_face.jpg" data-href=".area-9" href="#">
                                    <area shape="poly" coords="558,608,542,589,535,582,526,578,516,577,507,575,501,575,492,576,480,580,470,586,463,593,460,606,454,621,471,627,488,631,507,630,526,627,543,620" data-img="/Content/html/img/area/img_price_face_10.jpg" data-default="/Content/html/img/area/img_price_face.jpg" data-href=".area-10" href="#">
                                    <area shape="poly" coords="674,421,683,419,689,413,693,407,696,398,696,389,694,379,689,371,681,368,676,376,678,394,674,422,331,410,327,391,327,370,317,358,312,373,310,389,312,410,324,416,331,411" data-img="/Content/html/img/area/img_price_face_11.jpg" data-default="/Content/html/img/area/img_price_face.jpg" data-href=".area-11" href="#">
                                    <area shape="poly" coords="425,539,416,540,403,534,395,523,384,515,367,494,387,531,387,539,386,548,386,558,400,572,426,594,440,609,454,621,462,598,468,587,484,578,500,576,521,577,536,584,549,594,560,609,574,597,590,585,605,572,614,560,617,545,618,533,605,538,590,545,572,539,556,532,538,524,524,515,503,525,485,517,423,539,450,507,477,496,501,492,515,495,534,497,544,473,553,463,572,464,590,470,608,472,627,469,643,465,660,454,666,441,667,432,661,421,658,403,657,389,656,373,658,354,651,322,640,307,627,294,609,282,590,275,570,270,542,270,515,267,483,268,462,269,433,272,411,275,389,281,368,288,341,298,341,304,351,303,355,316,353,327,351,347,359,344,365,329,371,321,384,317,399,317,418,318,437,324,456,331,472,338,477,341,504,339,517,340,536,336,555,328,578,322,593,318,614,318,629,323,643,332,653,342,653,360,639,357,625,348,608,347,586,345,571,348,555,354,539,359,522,366,502,374,488,369,475,361,471,354,455,354,431,347,410,343,400,341,384,338,370,341,351,347,351,365,350,383,348,400,343,414,337,430,342,448,357,452,375,456,404,457,427,460,443,467,453,477,470,478,473,471,485,477,499,486,505,488,510,478,520,471,528,474,530,482,519,486,504,490,491,493,472,484,466,479,457,478,455,495,449,510,424,539" data-img="/Content/html/img/area/img_price_face_1.jpg" data-default="/Content/html/img/area/img_price_face.jpg" data-href=".area-1" href="#">
                                </map>
                            </div>
                        </div>
                    </div>
                    <div class="price-cont js-tab-cont hide-tab" id="tab-2">
                        <a href="#" class="button button_color button_turn js-turn-body">Повернуть</a>
                        <div class="box-dummy box-dummy_item2">
                            <div class="block-images-area">
                                <img src="/Content/html/img/area/img_price_body_1.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_2.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_3.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_4.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_5.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_6.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_7.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_8.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_9.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_10.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_11.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_12.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_13.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_14.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_15.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_16.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_17.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_18.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_19.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_body_20.jpg" alt="">
                            </div>
                            <div class="body-front">
                                <div class="box-dummy__main-img2">
                                    <div class="box-dummy__cont">
                                        <img src="/Content/html/img/area/img_price_body.jpg" alt="" border="0" usemap="#Map2">
                                        <map name="Map2">
                                            <area shape="poly" coords="185,145,192,135,192,119,192,112,203,125,216,130,226,125,235,120,237,129,237,139,243,143,232,149,221,151,208,150,194,148" data-img="/Content/html/img/area/img_price_body_1.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-1" href="#">
                                            <area shape="poly" coords="171,156,165,165,155,170,146,175,133,180,121,183,114,185,117,179,126,171,137,165,146,162,172,156,263,155,268,168,277,177,291,181,307,184,317,184,316,178,310,174,299,167,286,165,273,163,262,155" data-img="/Content/html/img/area/img_price_body_2.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-2" href="#">
                                            <area shape="poly" coords="307,464,321,466,328,464,327,480,329,491,331,505,330,515,328,523,326,529,321,537,314,543,304,549,295,550,296,540,304,531,300,527,296,525,294,511,296,495,300,475,306,463,127,462,106,459,106,477,103,492,99,505,102,512,106,522,110,534,119,543,126,554,133,544,127,536,126,527,132,520,131,505,132,491,132,481,129,467,128,462" data-img="/Content/html/img/area/img_price_body_3.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-3" href="#">
                                            <area shape="poly" coords="127,462,129,423,132,407,138,377,145,355,147,338,110,333,106,350,104,377,104,399,108,425,107,446,106,459,128,462,305,465,329,466,329,444,328,417,328,396,328,378,326,353,326,335,289,344,290,359,299,376,300,393,302,411,305,429,306,445,304,466" data-img="/Content/html/img/area/img_price_body_4.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-4" href="#">
                                            <area shape="poly" coords="290,344,325,337,322,309,324,281,327,253,327,228,325,209,318,184,298,183,286,179,279,179,279,192,284,206,287,215,295,215,301,228,291,243,290,257,290,307,286,330,290,344,148,339,109,333,112,308,110,281,109,254,109,232,110,208,113,187,135,182,150,181,151,200,146,217,137,220,132,225,132,238,138,245,148,263,146,281,146,301,147,324,148,340" data-img="/Content/html/img/area/img_price_body_5.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-5" href="#">
                                            <area shape="poly" coords="144,220,133,222,128,232,132,242,141,249,146,221,286,217,295,216,303,226,298,240,289,246,284,237,283,224,286,218" data-img="/Content/html/img/area/img_price_body_7.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-7" href="#">
                                            <area shape="poly" coords="170,158,178,151,187,146,201,150,216,151,230,149,240,145,249,151,255,157,261,157,245,170,222,175,204,171,184,167,170,159" data-img="/Content/html/img/area/img_price_body_8.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-8" href="#">
                                            <area shape="poly" coords="134,182,144,176,161,168,169,159,200,170,217,174,239,170,255,162,259,157,269,169,277,177,262,185,239,187,233,195,219,199,199,197,183,190,164,184,133,181" data-img="/Content/html/img/area/img_price_body_9.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-9" href="#">
                                            <area shape="poly" coords="151,184,151,199,148,210,142,218,143,234,144,244,154,255,171,259,189,258,208,252,225,253,243,259,266,255,274,245,281,232,284,220,287,210,282,199,278,187,277,179,260,184,244,190,229,197,210,198,188,193,171,186,159,184,165,225,156,230,158,237,167,243,175,238,175,229,165,225,252,225,244,233,247,241,257,242,263,236,262,226,252,224,165,225,158,184,154,185" data-img="/Content/html/img/area/img_price_body_10.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-10" href="#">
                                            <area shape="poly" coords="167,225,175,230,176,238,163,240,158,233,160,227,169,225,244,229,246,225,257,223,263,227,262,237,252,242,247,236,243,231" data-img="/Content/html/img/area/img_price_body_11.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-11" href="#">
                                            <area shape="poly" coords="174,354,185,333,208,325,231,327,248,339,253,353,254,372,244,391,230,403,205,403,185,395,175,382,174,354" data-img="/Content/html/img/area/img_price_body_12.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-12" href="#">
                                            <area shape="poly" coords="135,397,160,388,168,373,171,358,166,342,163,332,157,323,153,317,151,339,144,357,138,377,135,397,299,394,271,378,258,366,252,353,253,339,265,327,274,317,281,313,276,330,281,348,290,362,299,378,299,394" data-img="/Content/html/img/area/img_price_body_13.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-13" href="#">
                                            <area shape="poly" coords="213,423,219,409,221,390,219,375,213,364,204,374,204,397,209,412" data-img="/Content/html/img/area/img_price_body_14.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-14" href="#">
                                            <area shape="poly" coords="213,358,217,344,223,314,224,290,220,272,213,252,205,272,203,298,203,322,208,344" data-img="/Content/html/img/area/img_price_body_15.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-15" href="#">
                                            <area shape="poly" coords="209,484,210,499,214,518,211,542,210,570,211,596,213,616,206,628,185,640,167,636,155,626,149,597,143,565,139,545,133,530,132,514,131,486,131,467,128,450,130,438,130,429,148,432,169,443,179,459,192,476,209,484,229,483,245,468,262,451,271,438,288,431,303,427,305,452,301,473,295,490,295,510,293,529,299,532,295,541,298,554,296,564,289,589,283,611,280,624,265,633,242,633,223,624,225,588,231,566,228,540,224,512,226,498,230,484" data-img="/Content/html/img/area/img_price_body_17.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-17" href="#">
                                            <area shape="poly" coords="212,623,212,640,213,658,213,672,206,689,207,697,192,701,177,700,164,698,160,694,159,673,158,655,160,639,154,624,167,635,183,641,202,633,212,624,225,625,237,633,252,634,266,631,281,625,276,640,275,654,275,668,274,682,275,697,266,701,253,705,238,704,227,698,225,679,222,664,220,655,222,638,222,626" data-img="/Content/html/img/area/img_price_body_18.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-18" href="#">
                                            <area shape="poly" coords="207,697,208,721,212,743,213,765,212,802,209,826,212,843,217,864,209,867,187,868,178,852,175,828,170,802,165,776,160,755,154,734,157,711,159,694,179,701,207,697,227,695,238,704,259,703,275,695,279,714,279,738,276,766,272,788,264,812,261,832,257,852,251,863,252,868,222,868,229,845,228,809,223,772,225,748,226,718,228,695" data-img="/Content/html/img/area/img_price_body_19.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-19" href="#">
                                            <area shape="poly" coords="215,867,219,881,220,899,220,921,218,935,208,945,197,944,187,941,182,935,181,916,186,903,189,883,187,868,215,868,222,868,250,868,254,892,258,905,259,926,257,940,243,941,228,939,220,936,222,900,222,884,222,867" data-img="/Content/html/img/area/img_price_body_20.jpg" data-default="/Content/html/img/area/img_price_body.jpg" data-href=".area-body-20" href="#">
                                        </map>
                                    </div>
                                </div>
                            </div>
                            <div class="body-back">
                                <div class="box-dummy__main-img3">
                                    <div class="box-dummy__cont">
                                        <img src="/Content/html/img/area/img_price_body_back.jpg" alt="" border="0" usemap="#Map3">
                                        <map name="Map3">
                                            <area shape="poly" coords="174,150,188,142,206,139,222,133,232,128,237,129,243,147,250,155,242,159,229,161,211,163,194,160,182,157" data-img="/Content/html/img/area/img_price_body_back_1.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg" data-href=".area-body-back-1" href="#">
                                            <area shape="poly" coords="252,153,261,158,273,163,281,165,284,164,290,164,300,167,299,177,289,177,277,176,267,173,258,165,251,153,175,151,150,157,139,160,124,168,128,174,149,174,162,167,168,161,175,151" data-img="/Content/html/img/area/img_price_body_back_2.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg" data-href=".area-body-back-2" href="#">
                                            <area shape="poly" coords="118,509,117,490,120,476,119,462,106,457,119,510,304,517,309,497,312,486,318,468,301,465,301,477,302,492,304,516" data-img="/Content/html/img/area/img_price_body_back_3.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg" data-href=".area-body-back-3" href="#">
                                            <area shape="poly" coords="134,357,99,343,98,369,99,389,100,405,103,419,105,433,106,448,107,457,120,462,123,446,123,422,130,402,133,356,293,352,328,342,329,360,328,379,328,394,326,407,323,421,322,436,320,445,318,469,304,466,301,431,297,414,297,391,294,353" data-img="/Content/html/img/area/img_price_body_back_4.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg" data-href=".area-body-back-4" href="#">
                                            <area shape="poly" coords="133,356,100,344,98,271,102,242,106,214,111,192,117,178,125,171,133,184,134,206,134,223,134,236,137,252,141,263,133,356,295,353,329,341,329,264,328,235,323,209,319,193,312,177,302,170,296,184,293,206,297,225,299,239,290,260,288,271,291,291,291,315,292,336,296,353" data-img="/Content/html/img/area/img_price_body_back_5.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg" data-href=".area-body-back-5" href="#">
                                            <area shape="poly" coords="150,330,176,337,205,341,230,339,255,335,276,328,277,302,279,288,285,272,290,264,296,248,299,239,297,228,293,213,294,198,296,184,297,178,284,178,269,173,258,166,253,156,240,159,224,163,208,162,193,160,180,157,177,153,167,161,159,169,153,174,139,172,127,174,134,187,135,209,134,224,133,233,141,258" data-img="/Content/html/img/area/img_price_body_back_7.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg" data-href=".area-body-back-7" href="#">
                                            <area shape="poly" coords="127,399,144,392,170,389,190,387,214,386,234,386,257,386,275,390,295,394,292,380,284,363,280,351,276,340,276,329,247,337,218,341,188,339,167,334,152,330,152,342,139,365" data-img="/Content/html/img/area/img_price_body_back_8.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg" data-href=".area-body-back-8" href="#">
                                            <area shape="poly" coords="210,438,206,436,202,421,185,407,161,404,138,407,124,417,123,446,119,466,118,487,125,503,143,512,167,518,186,511,202,499,200,478,200,455,211,438,223,454,224,473,221,490,225,506,246,516,265,514,283,506,296,494,301,485,301,459,301,450,299,432,298,418,293,408,278,402,258,403,238,410,226,415,212,439" data-img="/Content/html/img/area/img_price_body_back_9.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg" data-href=".area-body-back-9" href="#">
                                            <area shape="poly" coords="221,499,235,514,262,516,280,509,291,501,301,491,304,512,299,534,296,552,290,575,285,593,281,610,278,624,276,639,275,652,218,651,217,628,220,607,223,573,219,550,216,528,217,512,222,499,201,500,204,513,204,530,204,546,200,561,201,578,203,599,205,617,206,631,207,648,208,654,155,654,152,655,146,628,140,609,134,583,128,563,122,538,118,519,118,503,119,491,134,511,158,516,184,512,201,500" data-img="/Content/html/img/area/img_price_body_back_11.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg" data-href=".area-body-back-11" href="#">
                                            <area shape="poly" coords="218,653,274,653,273,673,274,693,275,713,273,717,222,717,218,698,213,678,218,653,206,654,149,655,152,670,153,688,153,708,153,714,204,717,206,693,207,672,206,654" data-img="/Content/html/img/area/img_price_body_back_12.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg" data-href=".area-body-back-12" href="#">
                                            <area shape="poly" coords="221,717,275,717,275,738,275,757,275,773,271,784,266,811,259,832,257,854,252,867,250,888,218,881,225,849,220,815,221,776,221,717,204,717,151,714,152,738,152,758,154,777,156,795,161,815,165,834,171,857,177,884,177,888,209,885,204,866,203,834,207,793,207,764,204,741,204,717" data-img="/Content/html/img/area/img_price_body_back_13.jpg" data-default="/Content/html/img/area/img_price_body_back.jpg" data-href=".area-body-back-13" href="#">
                                        </map>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="price-cont js-tab-cont hide-tab" id="tab-3">
                        <a href="#" class="button button_color button_turn js-turn-bikini">Повернуть</a>
                        <div class="box-dummy box-dummy_item2">
                            <div class="block-images-area">
                                <img src="/Content/html/img/area/img_price_bikini_1.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_bikini_2.jpg" alt="">
                                <img src="/Content/html/img/area/img_price_bikini_3.jpg" alt="">
                            </div>
                            <div class="bikini-front">
                                <div class="box-dummy__main-img4">
                                    <div class="box-dummy__cont">
                                        <img src="/Content/html/img/area/img_price_bikini.jpg" alt="" border="0" usemap="#Map4">
                                        <map name="Map4">
                                            <area shape="poly" coords="268,320,274,308,271,292,264,280,253,269,241,261,229,251,222,246,220,256,224,269,232,284,249,302,268,320,308,318,319,303,333,289,343,273,349,264,355,254,366,241,344,249,326,259,312,281,301,298,299,310,308,318" data-img="/Content/html/img/area/img_price_bikini_1.jpg" data-default="/Content/html/img/area/img_price_bikini.jpg" data-href=".area-bikini-1" href="#">
                                            <area shape="poly" coords="191,236,222,231,252,224,283,223,313,223,336,226,359,231,373,236,363,242,343,249,328,261,316,273,310,284,304,295,301,304,297,281,294,265,285,262,277,269,275,283,276,295,273,304,262,277,248,264,236,252,217,246,191,236" data-img="/Content/html/img/area/img_price_bikini_2.jpg" data-default="/Content/html/img/area/img_price_bikini.jpg" data-href=".area-bikini-2" href="#">
                                            <area shape="poly" coords="274,310,285,316,295,315,299,310,298,289,297,274,293,262,283,261,276,273,277,290" data-img="/Content/html/img/area/img_price_bikini_3.jpg" data-default="/Content/html/img/area/img_price_bikini.jpg" data-href=".area-bikini-3" href="#">
                                        </map>

                                    </div>
                                </div>
                            </div>
                            <div class="bikini-back">
                                <div class="box-dummy__main-img5">
                                    <div class="box-dummy__cont">
                                        <img src="/Content/html/img/area/img_price_bikini_back.jpg" alt="" border="0" usemap="#Map5">
                                        <map name="Map5">
                                            <area shape="poly" coords="254,331,251,309,247,287,248,260,257,239,269,232,284,241,290,254,291,281,291,300,285,321,282,328,268,331" data-img="/Content/html/img/area/img_price_bikini_back_1.jpg" data-default="/Content/html/img/area/img_price_bikini_back.jpg" data-href=".area-bikini-back-2" href="#">
                                        </map>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
*@